{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>Заголовок новости</title>
</head>
<body>
{% block content %}

<table style="width: 70%" >

        <tr>
            [{{ article.category }}]    <b>{{ article.header }}</b>
        </tr>
        <br><br>
        {% if article.img1 %}
            <img src="{{ MEDIA_URL}}{{ article.img1 }}">
        {% endif %}
        <br>
        <tr>
            {{ article.text }}
            <br><br><br>
            <a target="_blank" href={{ article.url }}>источник</a>
        </tr>
</table>
{% endblock content %}
</body>
</html>