{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>News</title>
</head>
<body>
{% block content %}
    {% if image %}
        <img src="{{ MEDIA_URL}}{{ image }}">
    {% else %}
        <img src="{{ MEDIA_URL}}{{ image_next }}">
    {% endif %}

    <table style="width: 70%" >


        <br><br>
        {% for i in records %}
            <tr>
                <a href="{{ i.url[16:] }}"><b>{{ i.header }} </b></a>
            </tr>
            <br>

            <tr>
                {% if i.text[:i.text.index('.')] != i.header %}
                    {{ i.text[:i.text.index('.')] }}.
                {% endif %}
            </tr>

            <br><br>
        {% endfor %}
    </table>

{% endblock content %}
</body>
</html>