{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>News</title>
</head>
<body>
{% block content %}
{#<a href="/"></a><br>#}


<table style="width: 70%" >
    {% for i in records %}
        <tr>
            [{{ i.category }}]    <b>{{ i.header }}</b>
        </tr>
        <br>
        <tr>
            {{ i.text[:140] }}... <a href="{{ i.url[16:] }}">подробнее</a>
            {# 140 - ограничение ради контента. 16 - режу исходный урл ленты, переделываю в свой #}
            <br>
            <a target="_blank" href={{ i.url }}>посмотреть эту новость на Ленте</a>
        </tr>
        <br><br>

        <br><br>
    {% endfor %}
</table>

<a href="news/{{ yyyy }}/{{ mm }}/{{ dd }}">Читать все сегодняшние новости</a>
{% endblock content %}
</body>
</html>